body {
background-color: #FFFFE0;
}

.CV3 {
	margin: auto;
	width:60%;
	background-color:#eee;
	border:1px solid  #666666;
	border-spacing:5px;/*cellspacing:poor IE support for  this*/
	/* border-collapse:separate;*/
}