/* https://www.w3schools.com/howto/howto_css_image_text.asp */

.poster {
	display:  flex;
	height: 100hv;	
	width: 100%;
	align-items: center;
}

.poster__img {
	width:  65%;
	height: 100%;
}
.poster__img {
	img{object-fit: cover};
}

.poster__text {
	width:35%;
	padding: 10px;
	background-color:#eee;
	border:1px solid  #666666;
	border-spacing:5px;/*cellspacing:poor IE support for  this*/
	/* border-collapse:separate;*/
}

@media (max-width: 768px) {
	.poster{flex-wrap: wrap; height: auto;}
	.poster__img,
	.poster__text{width: 100%;}
}
