/* https://www.w3schools.com/howto/howto_css_image_text.asp */

/* Container holding the image and the text */
.container {
	position: relative;
	text-align: center;
	width: 100%;
	background: #000;
}

/* Centered text */
.centered {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.centered2 {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}  

