/* https://www.w3schools.com/howto/howto_css_image_text.asp */

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}
.menu{
	width: 100%;
	padding-top: 15px;
	padding-bottom: 10px;
	display:  flex;
	height: 100hv;	
}

.inline{
	height: 50px;
	width: 20%;
	/*display: inline-block;*/
}

@media (max-width: 768px) {
	.menu{flex-wrap: wrap; height: auto;}
	.inline{width: 100%;}
}

/* https://www.w3schools.com/css/css_link.asp */


}
